<% include partials/header %>

<div class="container jumbotron">
    <h2 class='display-4'>Welcome To YelpCamp!</h2>
    <h5 class='font-weight-normal mb-3'>View our hand-picked campgrounds from all over the world</h5 class='font-weight-normal'>
    <a href="/campgrounds/new" class='btn btn-primary'> Add New Campground </a>
</div>

